.small-picture {
    width: 100px;
    height: 100px;
}

@media (min-width: 600px) {
    #taxes {
        text-align: right;
    }
}

@media (max-width: 992px){
    .container {
        width: 100%;
        max-width: none;
    }
}
