.small-picture {
    width: 100px;
    height: 100px;
}

.medium-picture {
    height: 300px;
}
body .popover{display:none !important; }

@media (min-width: 600px) {
    #taxes {
        text-align: right;
    }
}

@media (max-width: 992px){
    .container {
        width: 100%;
        max-width: none;
    }
}
